<div class="card" 
  [class.no-border]="hideBorder"
  >
  <img *ngIf="product.imgUrl !==''"
    class="card-img-top" [class.imgResize]="addCart"
    [src]="product.imgUrl" [alt]="product.title">
  <div class="card-body">
      <div class="row">
          <p class="card-text  col-10">{{product.title}}</p>
          <span 
            *ngIf="wishList"
            class="col-2">
              <i class="fa red" 
                [ngClass]="(wishList[productKey]) ? 'fa-heart' : 'fa-heart-o'"
                (click)="addFavourite(productKey)"></i>
            </span>
        </div>
    <div class="card-text">
      <div *ngFor="let c of categories">
        <p *ngIf="c.key===product.selectedCategory">
          {{product.price | currency:'INR':'symbol'}} per {{c.unit}} 
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="addCart">
      <div class="form-control text-center"
        *ngIf="(cartItemCount$ | async); let itemCount; else btnAddCart">
        <app-product-quantity
          [productKey]="productKey"
          [quantity]="itemCount"
          [suffix] = "qSuffix"
          (change)="updateQuantity()"
          ></app-product-quantity>
      </div>
      <ng-template #btnAddCart>
        <button  class="btn btn-light btn-block text-center"
        (click)="clickToAdd(productKey,product)">Add to Cart</button>
      </ng-template>
  </div>
</div>
