<nav class="navbar navbar-expand-sm bg-light navbar-light d-flex mb-3">
  <!-- Brand -->
  <a class="navbar-brand p-2" routerLink="/">oShop</a>

  <!-- Links -->
  <ul class="navbar-nav p-5 mr-auto">
      <h3> Organic Shopping App </h3>
    </ul>
    <ul class="navbar-nav p-2">
    <ng-template #anonymousUser>
        <li class="nav-item" id="login">
          <a class="nav-link" (click)="login()">Login With Google </a>
        </li>
      </ng-template>
      <!-- Dropdown -->
    <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
        {{ appUser.name }}
      </a>
      <div ngbDropdownMenu class="dropdown-menu">
        <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
        <ng-container *ngIf="userRole.admin">
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
        </ng-container>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Favourite</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">Cart</a>
    </li>
  </ul>
</nav>