<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input 
    #query
    (keyup)="filter(query.value)"
    type="text" 
    class="form-control"
    placeholder="Search..."/>
</p>
<!--Angular 6 datatab;e-->
<table class="table table-striped" [mfData]="filteredProducts" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
          <mfDefaultSorter by="title">Title</mfDefaultSorter>
        </th>
      <th>
          <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
      <th>
        <mfDefaultSorter by="category">Category</mfDefaultSorter>
        </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of mf.data">
      <td>{{p.title}}</td>
      <td>
        <div *ngFor="let c of categories">
          <div *ngIf="c.key===p.selectedCategory">
              {{p.price | currency:'INR':true}} per {{c.unit}} 
          </div>
        </div>
        </td>
      <td>{{p.selectedCategory}}</td>
      <td><a [routerLink]="['/admin/products/',p.key]">Edit</a></td>
    </tr>
  </tbody>
  <tfoot>
      <tr>
          <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
      </tr>
      </tfoot>
</table>