/* You can add global styles to this file, and also import other style files */
@import '~bootstrap\dist\css\bootstrap.min.css';
@import '~font-awesome\css\font-awesome.min.css';
.container{
    margin-top:10px;
}
.no-border{
    border: 0px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clear-all{
    clear: both;
}
.red{
    color: red;
}