<div class="row">
  <div class="col-8">
      <h4>Order Summary</h4>
      <table class="table table-striped"
      *ngIf="orders$ | async as orders">
      <thead>
        <tr>
          <th>Order NO</th>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Shipping Details</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of orders.list">
          <td>
              {{order.orderNo}}
          </td>
          <td>{{order.details.dateOfCreation | date:'MMM d, y'}}</td>
          <td>
            {{order.details.customerName}}
          </td>
          <td>
            <p>Name: {{order.details.shippingDetails.name}}</p>
            <p>Address: {{order.details.shippingDetails.address}}</p>
            <p>City: {{order.details.shippingDetails.city}}</p>
          </td>
          <td>
              <button class="btn btn-sm btn-primary" 
                type="button"
                (click)="open(order.details.items)">
                  Open Order
              </button>
          </td>
    
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h4>Order Details</h4>
    <app-order-card
      [cartItems]="items"
    ></app-order-card>
  </div>
</div>